.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.paper {
  width: 400px;
}

.Container form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-name {
  color: #ff6666;
  margin-top: 10px;
}

.title {
  color: #666;
  margin: 15px 0;
  font-size: 18px;
}

.error {
  color: #ff3333;
  margin-bottom: 15px;
  border: 1px solid #ff3333;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.line-divisor {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.signup-link {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
}

.submit-button {
  margin-top: 10px;
}
