.root {
  height: 100vh;
}

.image {
  background-image: url("https://image.freepik.com/free-photo/overhead-view-baby-s-bib-pacifier-sock-brush-stuffed-pear-toy-peach-background_23-2147900523.jpg");
  background-size: cover;
  background-position: center;
}

.paper {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  margin: 10px;
  width: 100%;
}

.avatar {
  background: #ff3333;
  margin: 10px;
}

.avatar svg {
  color: #fff;
}

.error {
  color: #ff3333;
  margin-bottom: 15px;
  border: 1px solid #ff3333;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.line-divisor {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.signup-link {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
}

.submit-button {
  margin: 10px 0 0 0;
}
